@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/') format('woff2'), url('../fonts/') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.p {
	font-weight: 700;
	font-family: 'Roboto' sans-serif;
}
